<a href="https://colab.research.google.com/github/yuthimreddy/ds1002-hva4zb/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [43]:
# code here
var1 = 0
while var1 <= 20:
  var1 = var1 + 1
  if var1 % 2 == 0:
    print(var1)

2
4
6
8
10
12
14
16
18
20

## For-Loops with Lists

In [ ]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [36]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

for x in mylist:
  if x >= 0:
    print(x)
  else:
    continue

9
15
23
4
92
47
33
17
18
38

In [44]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for x in mylist:
  if x >= 0:
    print(x)
  else:
    print(abs(x))

9
15
23
4
92
47
33
17
4
18
38
242

In [41]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

for x in mylist:
  if 20<x<40:
    continue
  else:
    print(x)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [12]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [13]:
# Write a command to print out all the keys of this dict
for key in capitals:
  print(key)

United States
Italy
England
Thailand
Brazil

In [14]:
# Write a command to print out all the values of this dict
for key, value in capitals.items():
  print(value)

Washington DC
Rome
London
Bangkok
Brasilia

In [18]:
# Write a command to print all the keys and values for this dict
for key, value in capitals.items():
  print(key, value)

United States Washington DC
Italy Rome
England London
Thailand Bangkok
Brazil Brasilia

In [37]:
# Write a command to print only the first three values and NOTHING more

capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

for key, value in capitals.items():
  if str(value).startswith('Wash'):
    print(value)
  elif str(value).startswith('Ro'):
      print(value)
  elif str(value).startswith('Lo'):
      print(value)
  else:
    continue

Washington DC
Rome
London